{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
        <meta http-equiv = "refresh" content = "3; url = /home" />
  <title>خوش آمدید</title>



      <link rel="stylesheet" href="{% static 'loading-animation/css/style.css' %}">

</head>

<body>

  <html>
<head>
<link rel="stylesheet" href="{% static 'loading-animation/css/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="loader">
    <h1>به خوشحال فروشی خوش آمدید لطفا کمی صبر کنید</h1>
    <span></span>
    <span></span>
    <span></span>
</div>
</body>
</html>



</body>

</html>
